= form_for(resource, :as => resource_name, :url => confirmation_path(resource_name), :html => { :method => :post, :class => 'form-horizontal' }) do |f|
	.row
		.span7
			/ %legend= t(:'site.user.devise.reset_password')
			Resend confirmation instructions
			= devise_error_messages! %>

			= f.label :email
			= f.email_field :email
		.span5
			%legend= t(:'site.user.devise.tools')
			= render "users/links"

	.form-actions
		# = f.submit t(:'site.user.devise.actions.reset_password'), :class => 'btn btn-success btn-large'
		= f.submit "Resend confirmation instructions", :class => 'btn btn-success btn-large'

