= form_for resource, :html => { :class => 'form-horizontal' }, :as => resource_name, :url => session_path(resource_name) do |f|
  .row
    .span7
      %legend= t(:'site.user.devise.sign_in')
      .fieldset
        .control-group
          = f.label :email, :class => 'control-label'
          .controls
            = f.email_field :email


        .control-group
          = f.label :password, :class => 'control-label'
          .controls
            = f.password_field :password

        - if devise_mapping.rememberable?
          .control-group
            %label{:class => 'control-label'}
              = t(:'site.user.devise.actions.remember_me')

            .controls
              = f.check_box :remember_me


    .span5
      %legend= t(:'site.user.devise.tools')
      = render "users/links"

  .form-actions
    = f.submit t(:'site.user.devise.actions.sign_in'), :class => 'btn btn-success btn-large'
