<%= form_for applicant do |f| %>
  <% if applicant.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(applicant.errors.count, "error") %> prohibited this applicant from being saved:</h2>

      <ul>
      <% applicant.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :first_name %><br />
    <%= f.text_field :first_name %>
  </div>
  <div class="field">
    <%= f.label :middle_name %><br />
    <%= f.text_field :middle_name %>
  </div>
  <div class="field">
    <%= f.label :last_name %><br />
    <%= f.text_field :last_name %>
  </div>

    <%= f.fields_for applicant.profile do |p| %>

  <div class="field">
    <%= p.label :birth_location %><br />
    <%= p.text_field :birth_location %>
  </div>

  <div class="field">
    <%= p.label :birth_date %><br />
    <%= p.date_select :birth_date %>
  </div>

  <div class="field">
    <%= p.label :current_location %><br />
    <%= p.text_field :current_location %>
  </div>

  <div class="field">
    <%= p.label :video_url %><br />
    <%= p.text_field :video_url %>
  </div>
    <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
