.control-group
  %label{:class => 'control-label'}
    = p.label t(:'site.user.new.main_info.gender')
  .controls
    %label.radio
      = p.radio_button :gender, 1, :checked => true
      = t(:'site.user.new.main_info.male')
    %label.radio
      = p.radio_button :gender, 2
      = t(:'site.user.new.main_info.female')
.control-group
  %label{:class => 'control-label'}
    = p.label t(:'site.user.new.main_info.birth_date')
  .controls
    = p.datepicker :birth_date, :changeYear => true
.control-group
  %label{:class => 'control-label'}
    = p.label t(:'site.user.new.main_info.birth_location')
  .controls
    = p.select :birth_location_id, City.all.collect{|d| [d.name, d.id]}, { :prompt => '---' }, :class => 'span2'
.control-group

  %label{:class => 'control-label'}
    = p.label t(:'site.user.new.main_info.current_location')
  .controls
    = p.select :current_location_id, City.all.collect{|d| [d.name, d.id]}, { :prompt => '---' }, :class => 'span2'
.control-group
  %label{:class => 'control-label'}
    = p.label t(:'site.user.new.main_info.video_url')
  .controls
    = p.text_field :video_url, :class => 'span5'
    %p.help-block
      = t(:'site.user.edit_profile.video_help').html_safe