.row
  .span6
    %legend
      = t(:'site.user.edit_profile.additional_info')
    .control-group
      %label{:class => 'control-label'}
        = p.label t(:'site.user.new.main_info.gender')
      .controls
        %label.radio
          = p.radio_button :gender, 1, :checked => true
          = t(:'site.user.new.main_info.male')
        %label.radio
          = p.radio_button :gender, 2
          = t(:'site.user.new.main_info.female')
    .control-group
      %label{:class => 'control-label'}
        = p.label t(:'site.user.new.main_info.birth_date')
      .controls
        = p.text_field :birth_date, 'data-behaviour' => 'datepicker'
        :javascript
          $('[data-behaviour~=datepicker]').datepicker({
              format: 'yyyy-mm-dd',
              language: uk
            });
    .control-group
      %label{:class => 'control-label'}
        = p.label t(:'site.user.new.main_info.birth_location')
      .controls
        = p.text_field :birth_location, :class => 'span3'
    .control-group

      %label{:class => 'control-label'}
        = p.label t(:'site.user.new.main_info.current_location')
      .controls
        = p.text_field :current_location, :class => 'span3'
    .control-group
      %label{:class => 'control-label'}
        = p.label t(:'site.user.new.main_info.video_url')
      .controls
        = p.text_field :video_url, :class => 'span3'
        %p.help-block
          = t(:'site.user.edit_profile.video_help').html_safe
  .span6
    %legend= t(:'site.contacts.title')
    = p.fields_for :contacts do |c|
      = render :partial => 'contacts/contact_fields', :locals => { :f => c }
    .fields
      = link_to_add_fields t(:'site.contacts.add_contact').html_safe, p, :contacts