%h1 Listing applicants
%p
  %b
    Applicants count:
  = applicants.size
%table
  %tr
    %th
    %th
    %th
    %th
  - applicants.each do |applicant|
    %tr
      %td
        = applicant.first_name
      %td

      %td
        = link_to applicant, :class => 'primary button' do
          %span.class
          Show
        = link_to edit_applicant_path(applicant), :class => "button" do
          %span.pen.icon
          Edit
        = link_to applicant, :confirm => 'Are you sure?', :class => "negative button", :method => :delete do
          %span.cross.icon
          Destroy
