- if notice
  %p#notice.success
    = notice
.row
  .span3
    - if applicant.avatar
      = image_tag applicant.avatar, :class => 'thumbnail'
  .span9
    %p
      Email:
      %b
        = applicant.user.email
    %p
      %b
        ID:
      = applicant.user.id

    - if applicant
      %p
        %b
          Name:
        = applicant.first_name
        = applicant.middle_name
        = applicant.last_name
      %p
        %b
          Birth date:
        = applicant.profile.birth_date
      %p
        %b Birth Location:
        = Address::City.find_by_id(applicant.profile.birth_location_id)
      %p
        %b Current Location:
        = Address::City.find_by_id(applicant.profile.current_location_id)
      %p
        %b
          Education:
        %ol
          - for education in applicant.educations
            %li
              = education.school.name
      %p
        %b
          Social Activities:
        %ol
          - for social_activity in applicant.social_activities
            %li
              = social_activity.activity_type
              = social_activity.duties
              = social_activity.position
      %p
        %b
          Work Experiences
        %ol
          - for work_experience in applicant.work_experiences
            %li
              = work_experience.start_date
              = work_experience.end_date
              = work_experience.organization
              = work_experience.position
%hr/
.row
  .span12
    - if applicant.profile.video_url.to_s != ""
      %iframe{:allowfullscreen => "1", :frameborder => "0", :height => "349", :width => "560", :src => applicant.profile.video_url}
    - else
      No video presentation