.row
  .span12
    - if parent?
      %h2= parent.name
    %legend
      = t(:'site.user.vacancies.title')
    %p.muted
      = t(:'site.user.vacancies.total')
      = Vacancy.count
    - if current_user
      - if current_user == parent.user || admin_signed_in?
        = link_to new_school_vacancy_path(parent) do
          %i.icon-plus-sign
          = t(:'site.user.vacancies.add')
        %br/
        %br/
    - if collection.present?
      %table.table.table-striped.table-condensed
        %thead
          %th
            = t(:'site.user.vacancies.specialty')
          %th{:style => 'width: 70px'}
            = t(:'site.user.vacancies.value')
          %th{:style => 'width: 130px'}
            = t(:'site.user.vacancies.update_date')
          %th{:style => 'width: 130px'}
            = t(:'site.user.vacancies.expiry_date')
          - if current_user && parent
            - if current_user == parent.user || admin_signed_in?
              %th(width='100px;')
              %th(width='100px;')
          - else
            %th{:style => 'width: 300px'}= t(:'site.user.vacancies.school_belong')
        %tbody
        - for v in collection
          %tr
            %td
              = v.specialty
            %td
              = v.value
            %td
              = l v.updated_at.to_date, :format => :long
            %td
              = l v.expiry_date, :format => :long
            - if current_user && parent
              - if current_user == parent.user || admin_signed_in?
                %td
                  = link_to t(:'site.user.vacancies.edit_html'), edit_school_vacancy_path(parent, v)
                %td
                  = link_to t(:'site.user.vacancies.delete_html'), [parent, v], :method => :delete, :confirm => t(:'standart_messages.are_you_shure')
            - elsif parent
              %td= link_to v.parent, school_path(v.parent)
      - if current_user && parent
        - if current_user == parent.user || admin_signed_in?
          %br/
          = link_to new_school_vacancy_path(parent) do
            %i.icon-plus-sign
            = t(:'site.user.vacancies.add')
    = paginate collection, :theme => 'twitter-bootstrap'
