%h2 User Types
%p= link_to 'Add user type', new_admin_user_type_path
%hr/
%table.table.table-striped.table-bordered.table-condensed
  %thead
    %th
      id
    %th
      Name
    %th
      Actions
  %tbody
  - for user_type in user_types
    %tr
      %td
        = user_type.id
      %td
        = user_type.user_type_name
      %td
        = link_to 'Edit', edit_admin_user_type_path(user_type)
        = link_to 'Delete', admin_user_type_path(user_type), :method => :delete, :confirm => 'Are you sure?'
%hr/
%p= link_to 'Add user type', new_admin_user_type_path