.fields_group
  = f.label :start_date
  = f.date_select :start_date

  = f.label :end_date
  = f.date_select :end_date

  %br
  = f.label :school
  = f.text_field :school, :size => 20

  = f.label :faculty
  = f.text_field :faculty, :size => 20

  = f.fields_for :education_degree_level do |a|

    = a.label :education_degree_level
    = a.select :education_degree_level, EducationDegreeLevel.all.collect{|c| [c.education_degree_level, c.id]}, { :prompt => 'My degree' }

  = f.fields_for :education_school_type do |b|

    = b.label :education_school_type
    = b.select :education_school_type, EducationSchoolType.all.collect{|d| [d.school_type_name, d.id]}, { :prompt => 'School type' }


  = link_to_remove_fields 'Remove', f
