.fields_group
  = f.label :activity_type
  = f.text_field :activity_type, :size => 20

  = f.label :duties
  = f.text_field :duties, :size => 20

  = f.label :position
  = f.text_field :position, :size => 20

  = link_to_remove_fields 'Remove', f


