<p id="notice" class="success"><%= notice %></p>

<p>
  <b>Email:</b>
  <%= @user.email %>
</p>

<p>
  <b>Permalink:</b>
  <%= @user.permalink %>
  &nbsp;
  <b>User ID:</b>
  <%= @user.applicant.user_id %>
</p>


 <p>
  <b>First Name:</b>
  <%= @user.applicant.first_name %>
</p>


<p>
  <b>Birth date:</b>
  <%= @user.applicant.profile.birth_date %>
</p>



<%= @user.applicant.social_activities %>


<ol>
  <% for social_activity in @user.applicant.social_activities %>
     <li><%= social_activity.activity_type  %></li>
  <% end %>
</ol>

<div>
<%= link_to 'Edit', edit_user_path(@user), :class => 'positive button' %>
<%= link_to 'Back', users_path, :class => 'button' %>
</div>