%li= link_to t(:'admin.nav.categories'), admin_categories_path
%li= link_to t(:'admin.nav.locations'), admin_locations_path
%li= link_to t(:'admin.nav.schools'), admin_schools_path

%li= link_to t(:'admin.nav.school_types'), admin_school_types_path
%li= link_to t(:'admin.nav.user_types'), admin_user_types_path
