%ul.nav
  %li= link_to 'Users List', users_path
  %li= link_to 'Admin', admin_path


- if user_signed_in?
  %ul.nav.pull-right
    %li.dropdown
      %a{ :href => '#', :class => 'dropdown-toggle', :'data-toggle' => 'dropdown' }
        = current_user.email
        \/
        - if UserType.find_by_id(current_user.user_type_id)
          = UserType.find_by_id(current_user.user_type_id).user_type_name
          %i.icon-user.icon-white
      %ul.dropdown-menu
        %li
          = link_to edit_user_registration_path do
            %i.icon-pencil
            Edit
        %li
          = link_to destroy_user_session_path do
            %i.icon-off
            Log out
- else

  %ul.nav
    %li.divider-vertical
    %li
      = link_to 'Register', new_user_registration_path
    %li
      = link_to 'Log in', new_user_session_path