.row
  .span4
    - if user_signed_in?
      - if current_user.applicant
        %p.lead
          = t(:'site.user.profiles.applicant.messages.is_profile').html_safe
        %p
          = link_to t(:'site.user.profiles.applicant.actions.edit_profile'), edit_applicant_path(current_user.applicant), :class => "btn btn-info btn-large"
      - else
        %p.lead
          = t(:'site.user.profiles.applicant.messages.no_profile').html_safe
        %p
          = link_to t(:'site.user.profiles.applicant.actions.create_profile'), new_applicant_path, :class => "btn btn-large btn-success"



    - else
      %h1= t(:'site.home.welcome_text_1')
      %p.lead= t(:'site.home.welcome_text_2')
      %p
        = link_to t(:'site.home.register'), new_user_registration_path, :class => "btn btn-large btn-success", :style => 'width: 250px; font-size: 24px'
      %p
        або
        = link_to 'увійти до системи', new_user_session_path



  .span4
    %p.lead= t(:'site.home.already_registered_users')
    - for a in applicants.reverse do
      - if a.avatar
        = link_to a do
          = image_tag a.avatar.url(:icon50).to_s, :title => ( a.first_name + ' (' + a.id.to_s + ')' )

    %p
      = t(:'site.home.applicants_count')
      = applicants.size.to_s
  .span4
    %p.lead= t(:'site.home.news')
    %p= t(:'site.home.test_news').html_safe


.row
  .span12
    %hr/
    = t(:'site.static.home_description').html_safe



- if admin_signed_in?
  %hr/
  .row
    .span12
      %h3 Just registered
      %table.table.table-striped.table-bordered.table-condensed
        %thead
          %tr
            %th
              id
            %th
              email
            %th
              User type
            %th
              Is activated?
            %th
              Profile?
            %th
              Is online?
            %th
              Login count
        %tbody
          - users.each do |user|
            - if user
              %tr
                %td
                  = user.id
                %td
                  = user.email
                %td
                  = user.user_type_id?
                %td
                  - if user.confirmed_at?
                    Yes
                  - else
                    No
                %td
                  - if user.applicant
                    Yes
                  - else
                    No profile

                %td
                  - if user.current_sign_in_at
                    - if user.current_sign_in_at > 1.minutes.ago
                      + + +
                %td
                  = user.sign_in_count