.row
  .span8
    - if current_user
      - if current_user.applicant
        %p
          = t(:'site.user.profiles.applicant.messages.is_profile').html_safe
        %p
          = link_to t(:'site.user.profiles.applicant.actions.edit_profile'), edit_applicant_path(current_user.applicant), :class => "btn"
      - else
        %p
          = t(:'site.user.profiles.applicant.messages.no_profile').html_safe
        %p
          = link_to t(:'site.user.profiles.applicant.actions.create_profile'), new_applicant_path, :class => "btn btn-large btn-success"



    - else
      %h2= t(:'site.home.welcome_text')
      %p
        = link_to t(:'site.home.register'), new_user_registration_path, :class => "btn btn-large btn-success"
      %p
        або
        = link_to 'увійти до системи', new_user_session_path



  .span4
    %h3= t(:'site.home.already_registered_users')
    %table.table.table-striped.table-bordered.table-condensed
      %thead
        %tr
          %th
            id
          %th
            name
      %tbody
        - users.each do |user|(0...20)
          - if user.applicant
            %tr
              %td
                = user.applicant.id
              %td
                = user.applicant.first_name
                = user.applicant.last_name

.row
  .span12
    %hr/
    = t(:'site.static.home_description').html_safe



- if current_admin
  %hr/
  .row
    .span12
      %h3 Just registered
      %table.table.table-striped.table-bordered.table-condensed
        %thead
          %tr
            %th
              id
            %th
              email
            %th
              User type
            %th
              Is activated?
            %th
              Profile?
            %th
              Is online?
            %th
              Login count
        %tbody
          - users.each do |user|
            - if user
              %tr
                %td
                  = user.id
                %td
                  = user.email
                %td
                  = user.user_type_id?
                %td
                  - if user.confirmed_at?
                    Yes
                  - else
                    No
                %td
                  - if user.applicant
                    Yes
                  - else
                    No profile

                %td
                  - if user.current_sign_in_at
                    - if user.current_sign_in_at > 1.minutes.ago
                      + + +
                %td
                  = user.sign_in_count