#home
  .row
    .span12
      = t(:'site.static.home_description').html_safe
    -#.span4
      %p.lead= t(:'site.home.already_registered_users')
      - for a in applicants.reverse do
        - if a.avatar
          = link_to a do
            = image_tag a.avatar.url(:icon50).to_s, :title => ( a.first_name + ' (' + a.profile.gender.to_s + ')' )
      %p
        = link_to t(:'site.home.applicants_count'), applicants_path
        = applicants.size.to_s
        %br
          = link_to t(:'site.home.schools_count'), schools_path
          = schools.size
  .row
    .span12
      - if user_signed_in?
        - if current_user.applicant?
          - unless current_user.applicant
            %p.lead
              = t(:'site.user.profiles.applicant.messages.no_profile').html_safe
            %p= link_to t(:'site.user.profiles.applicant.actions.create_profile'), new_applicant_path, :class => "btn btn-large btn-success"
        - elsif current_user.school?
          - unless current_user.school
            %p.lead
              = t(:'site.user.profiles.school.messages.no_profile').html_safe
            %p
              = link_to t(:'site.user.profiles.school.actions.create_profile'), new_school_path, :class => "btn btn-large btn-success"
        - else
          %p.lead= t(:'site.user.profiles.school.messages.home_title')
          .alert.alert-error= t(:'site.user.profiles.school.messages.no_features')
          .alert.alert-info= t(:'site.user.profiles.school.messages.how_to_change_user_type')
        %p
          = t(:'site.user.profiles.school.messages.your_user_type')
          %b= current_user.user_type
      - else
        %hr/
        .row
          .span7
            %p.lead
              / = t(:'site.home.welcome_text_1')
              = t(:'site.home.welcome_text_2')
          .span5
            %p
              = link_to t(:'site.home.register'), new_user_registration_path, :class => "btn btn-large btn-success", :style => 'width: 250px; font-size: 24px'
            %p
              або
              = link_to 'увійти до системи', new_user_session_path
      -#%p.lead= t(:'site.home.news')
      -#- for news_item in news_items
        %p
          %b
            = news_item.title
          %br
          = news_item.body
          %br
          %span{:style => 'color: gray; float: right;'}
            = l news_item.released_at.to_date, :format => :long
        %br
  %hr/
  .row
    .span3
      .count
        = link_to schools_path do
          %p.number= schools.size
          %p.title навчальних закладів
    .span3
      .count
        = link_to vacancies_path do
          %p.number= vacancies.size
          %p.title вакансій
    .span3
      .count
        = link_to applicants_path do
          %p.number= applicants.size
          %p.title пошукачів
    .span3
      .count
        = link_to '#' do
          %p.number 0
          %p.title відділів освіти



  .row
    .span12
      %hr/
      = gmaps4rails(map)
  - if admin_signed_in?
    %hr/
    .row
      .span12
        %h3 Just registered
        %table.table.table-striped.table-bordered.table-condensed
          %thead
            %tr
              %th
                id
              %th
                email
              %th
                User type
              %th
                Is activated?
              %th
                Profile?
              %th
                Is online?
              %th
                Login count
          %tbody
            - users.each do |user|
              - if user
                %tr
                  %td
                    = user.id
                  %td
                    = user.email
                  %td
                    - if user.user_type_id?
                      = UserType.find_by_id(user.user_type_id).id
                  %td
                    - if user.confirmed_at?
                      Yes
                    - else
                      No
                  %td
                    - if user.applicant
                      Yes
                    - else
                      No profile

                  %td
                    - if user.online?
                      .online-blink
                  %td
                    = user.sign_in_count
