#home
  .row
    .span12
      .well
        = t(:'site.static.home_description').html_safe
  .row
    .span12
      - if user_signed_in?
        - if current_user.applicant?
          - unless current_user.applicant
            %p.lead
              = t(:'site.user.profiles.applicant.messages.no_profile').html_safe
            %p= link_to t(:'site.user.profiles.applicant.actions.create_profile'), new_applicant_path, :class => "btn btn-large btn-success"
        - elsif current_user.school?
          - unless current_user.school
            %p.lead
              = t(:'site.user.profiles.school.messages.no_profile').html_safe
            %p
              = link_to t(:'site.user.profiles.school.actions.create_profile'), new_school_path, :class => "btn btn-large btn-success"
        - elsif current_user.department?
          - unless current_user.department
            %p.lead
              = t(:'site.user.profiles.department.messages.no_profile').html_safe
            %p
              = link_to t(:'site.user.profiles.department.actions.create_profile'), new_department_path, :class => "btn btn-large btn-success"
        %p
          = t(:'site.user.profiles.school.messages.your_user_type')
          %b= current_user.user_type
      - else
        %hr/
        .row
          .span6
            %p.lead
              / = t(:'site.home.welcome_text_1')
              = t(:'site.home.welcome_text_2')
          .span6
            %p
              = link_to t(:'site.home.register'), new_user_registration_path, :class => "btn btn-large btn-primary", :style => 'width: 200px; font-size: 18px; margin-right: 20px;'
              або
              &nbsp;&nbsp;
              = link_to 'увійти до системи', new_user_session_path
  %hr/
  .row
    .span3
      .count
        = link_to schools_path do
          %p.number= schools_count
          %p.title навчальних закладів
    .span3
      .count
        = link_to vacancies_path do
          %p.number= vacancies_count
          %p.title вакансій
    .span3
      .count
        = link_to applicants_path do
          %p.number= applicants_count
          %p.title пошукачів
    .span3
      .count
        = link_to departments_path do
          %p.number= departments_count
          %p.title відділів освіти

  .row
    .span12
      %hr/
      = gmaps4rails(map)
  
  / - if admin_signed_in?
  /   %hr/
  /   .row
  /     .span12
  /       %h3 Just registered
  /       %table.table.table-striped.table-bordered.table-condensed
  /         %thead
  /           %tr
  /             %th
  /               id
  /             %th
  /               email
  /             %th
  /               User type
  /             %th
  /               Is activated?
  /             %th
  /               Profile?
  /             %th
  /               Is online?
  /             %th
  /               Login count
  /         %tbody
  /           - users.each do |user|
  /             - if user
  /               %tr
  /                 %td
  /                   = user.id
  /                 %td
  /                   = user.email
  /                 %td
  /                   - if user.user_type_id?
  /                     = UserType.find_by_id(user.user_type_id).id
  /                 %td
  /                   - if user.confirmed_at?
  /                     Yes
  /                   - else
  /                     No
  /                 %td
  /                   - if user.applicant
  /                     Yes
  /                   - else
  /                     No profile

  /                 %td
  /                   - if user.online?
  /                     .online-blink
  /                 %td
  /                   = user.sign_in_count
