= form_for school, :url => school.new_record? ? admin_schools_path : admin_school_path(school)  do |f|
  = render :partial => 'shared/form_errors', :locals => { :object => school }
  %table
    %tr
      %td
        .field
          Name
          = f.text_field :name
          Type id
          = f.select :type_id, EducationSchoolType.all.collect {|p| [ p.school_type_name, p.id ] }, {:prompt => 'School type'}
          Location
          = f.select :city_id, Address::City.all.collect {|p| [ p.name, p.id ] }, {:prompt => 'School location'}


  .actions
    = f.submit
