= form_for school, :html => { :class => 'form-horizontal' }, :url => school.new_record? ? admin_schools_path : admin_school_path(school)  do |f|
  = render :partial => 'shared/form_errors', :locals => { :object => school }
  .row
    .span12
      %fieldset
        .control-group
          = f.label t(:'admin.schools.name'), :class => 'control-label'
          .controls
            = f.text_field :name, :class => 'span9'
        .control-group
          = f.label t(:'admin.schools.type'), :class => 'control-label'
          .controls
            = f.select :education_school_type_id, EducationSchoolType.all.collect {|p| [ p.school_type_name, p.id ] }, {:prompt => 'School type'}, :class => 'span4'
  .row
    .span6
      %legend= t(:'admin.schools.address')
      = f.fields_for :location do |a|
        = render 'addresses/location_fields', :f => a
    .span6

  .form-actions
    = f.submit  t(:'admin.schools.submit'), :class => 'btn btn-success btn-large'
    -#= link_to t(:'admin.schools.delete'), admin_school_path(f), :method => :delete, :confirm => t(:'admin.schools.are_you_shure'), :class => 'btn btn-mini btn-danger', :style => 'float: right;'