%h3= t(:'admin.schools.index')
%br/
= link_to new_admin_school_path do
  %i.icon-plus-sign
  = t(:'admin.schools.add_html')
%hr/
%table.table.table-striped.table-condensed
  %thead
    %th
      = t(:'admin.schools.type')
    %th
      = t(:'admin.schools.name')
    %th
      = t(:'admin.schools.address')
    %th
  %tbody
  - schools.each do |school|
    %tr
      %td
        = EducationSchoolType.find_by_id(school.education_school_type_id).school_type_name if school.education_school_type_id
      %td
        = school.name
      %td
        = school.location.city.name
        = '('+school.location.city.region.name+')'

      %td
        = link_to t(:'admin.schools.edit'), edit_admin_school_path(school), :class => 'link-icon icon-delete'


%hr/
= link_to new_admin_school_path do
  %i.icon-plus-sign
  = t(:'admin.schools.add_html')