= form_for city, :url => city.new_record? ? admin_cities_path : admin_city_path(city)  do |f|
  = render :partial => 'shared/form_errors', :locals => { :object => city }
  %table
    %tr
      %td
        .field
          = f.label :name, 'Назва населеного пункту'
          = f.text_field :name

          = select_tag 'root_region_id', options_from_collection_for_select(Region.roots, :id, :name), :prompt => 'Оберіть область'

          = f.grouped_collection_select :region_id, Region.all(:order => 'name'), :sub_regions, :name, :id, :name, :class => 'select-region', :prompt => 'Оберіть район'

  .actions
    = submit_tag 'Зберегти', :class => 'btn btn-large btn-success'
%hr/
%p{:style => 'text-align: right;'}
  = link_to 'Додати район', new_admin_region_path, :class => 'btn'

