%h2 Менеджер локацій
%hr/
= link_to 'Додати місто', new_admin_city_path, :class => 'btn btn-info'
= link_to 'Додати район', new_admin_region_path, :class => 'btn btn-warning'
%hr/

- for region in Region.roots
  %h3= region.name
  - for sub_region in region.sub_regions
    %h4= link_to sub_region.name, edit_admin_region_path(sub_region)

    #cities{:style => 'margin-left: 15px;'}
      %p
        - sub_region.cities.each do |city|
          = link_to city.name, edit_admin_city_path(city)
  %hr/
= link_to 'Додати місто', new_admin_city_path, :class => 'btn btn-info'
= link_to 'Додати район', new_admin_region_path, :class => 'btn btn-warning'
