%h2= t(:'admin.cities.headers.title')
%p= link_to 'Add Location', new_admin_city_path, :class => 'link-icon icon-add'
%hr/
%table.table.table-striped.table-bordered.table-condensed
  %thead
    %th= t(:'admin.cities.headers.region')
    %th= t(:'admin.cities.headers.cities')
    %th Actions
  %tbody
  - for region in regions
    %tr
      %td
        %b= region.id
        = region.name
      %td
        %ul
          - region.cities.each do |city|
            %li
              = city.name
              = link_to 'Edit', edit_admin_city_path(city)
      %td
        +
%hr/
%p= link_to 'Add Location', new_admin_city_path, :class => 'link-icon icon-add'
