%fieldset
  .control-group
    %label.control-label
      - if f.object.src_url.present?
        = image_tag f.object.src_url(:small).to_s
    .controls
      = f.file_field :src
      = f.hidden_field :src_cache
      -#%label.checkbox
        = f.check_box :remove_src
        = t(:'site.user.gallery.images.remove_image')
  .control-group
    = f.label :title, t(:'site.user.gallery.images.description'), :class => 'control-label'
    .controls
      = f.text_field :title, :class => 'span4'
%hr/