.control-group
  %label.control-label
    = t(:'site.address.city')
  .controls
    = f.text_field :city_id, :id => 'city_name_token', data: { pre: [school.location.city.as_json(only: [:id, :name], include: :region) ]}
    -#%p.help-block
      %small
        = school.location.city.region.name + ' район /'
        = Region.find(school.location.city.region.parent_id).name
.control-group
  %label.control-label
    = t(:'site.address.street')
  .controls
    = f.text_field :street, :class => 'span3'
.control-group
  %label.control-label
    = t(:'site.address.building')
  .controls
    = f.text_field :building, :class => 'span1'
.control-group
  %label.control-label
    = t(:'site.address.apartment')
  .controls
    = f.text_field :apartment, :class => 'span1'
.control-group
  %label.control-label
    = t(:'site.address.gmaps')
  .controls
    %label.checkbox
      = f.check_box :gmaps
      = t(:'site.address.gmaps_help')

