= form_for school, :html => {:class => 'form-horizontal'}, :url => school.new_record? ? schools_path : school_path(school) do |f|
  = render :partial => 'shared/form_errors', :locals => { :object => school }
  .row
    .span12
      %legend
        = t(:'site.user.profiles.school.edition.main_info')
      .control-group
        = f.label t(:'site.user.profiles.school.edition.name'), :class => 'control-label'
        .controls
          = f.text_field :name, :class => 'span9'
      .control-group
        = f.label t(:'site.user.profiles.school.edition.school_type'), :class => 'control-label'
        .controls
          = f.select :education_school_type_id, EducationSchoolType.all.collect {|p| [ p.school_type_name, p.id ] }, {:prompt => 'School type'}, :class => 'span4'
      .control-group
        = f.label t(:'site.user.profiles.school.edition.description'), :class => 'control-label'
        .controls
          = f.cktext_area :description
      .control-group
        %label{:class => 'control-label'}
          = f.label t(:'site.user.new.main_info.video_url')
        .controls
          = f.text_field :video_url, :class => 'span7'
  .row
    .span6
      %legend= t(:'site.address.title')
      = f.fields_for :location do |l|
        = render :partial => 'addresses/location_fields', :locals => { :f => l }
    .span6
      %legend= t(:'site.contacts.title')
      = f.fields_for :contacts do |c|
        = render :partial => 'contacts/contact_fields', :locals => { :f => c }
      .fields
        = link_to_add_fields t(:'site.contacts.add_contact').html_safe, f, :contacts


  %legend= t(:'site.user.profiles.school.director.legend')
  = f.fields_for :director_profile do |p|
    = render 'director_profile_fields', :p => p

  .form-actions
    = f.submit t(:'site.user.edit_profile.save_applicant'), :class => 'btn btn-success btn-large'
    %button.btn
      = t(:'site.user.edit_profile.cancel')