%h2= t(:'site.schools.index.title')
%p
  %b
    = t(:'site.schools.index.count')
  = schools.size
%hr/
- for school in schools
  %p
    = link_to school.name, school_path(school)

    = school.location.city.region.name + ' район' if school.location.city

    - if admin_signed_in?
      = link_to edit_school_path(school), :class => "btn btn-small" do
        %span.icon-pencil
        Редагувати
