#school
  #show
    .row
      .span12
        .row
          .span3
            &nbsp;
            - if admin_signed_in?
              = link_to  edit_school_path(school) do
                %i.icon-pencil
                Edit
          .span9
            %legend= school.name
        .row
          .span3
            - unless !school.director_profile
              .show_caption
                = image_tag school.director_profile.director_photo_url(:thumb), :class => '', :title => t(:'site.user.profiles.school.director.legend') + ": " + school.director_profile.name, :alt => t(:'site.user.profiles.school.director.legend') + ": " + school.director_profile.name
          .span9
            %ul#ProfileTabs.nav.nav-tabs
              %li.active
                %a( href = "#main-info" data-toggle = "tab" )
                  = t(:'site.user.profiles.school.show.main_info_html')
              %li
                %a( href = "#contacts" data-toggle = "tab" )
                  = t(:'site.user.profiles.school.show.contacts_html')
              %li
                %a( href = "#location-map" data-toggle = "tab" )
                  = t(:'site.user.profiles.school.show.map_html')
              %li
                - unless school.video_url.blank?
                  %a( href = "#video" data-toggle = "tab" )
                    = t(:'site.user.profiles.school.show.video_tab_html')
                - else
                  = link_to t(:'site.user.profiles.school.show.video_tab_html'), '#', style: 'color:silver;', title: t(:'site.user.profiles.school.show.video_tab_none')
              %li
                - if school.gallery && school.gallery.pictures.present?
                  %a( href = "#gallery" data-toggle = "tab" )
                    = t(:'site.user.profiles.school.show.gallery_html')
                    %sup= school.gallery.pictures.size
                - else
                  = link_to t(:'site.user.profiles.school.show.gallery_html'), '#', style: 'color:silver;', title: t(:'site.user.gallery.images.no_images')
              %li
                - if school.vacancies.present?
                  %a( href = "#vacancies" data-toggle = "tab" )
                    %i.icon-th-list
                    = t(:'site.user.vacancies.title')
                    %sup= + school.vacancies.size
                - else
                  = link_to '#', style: 'color:silver;', title: t(:'site.user.vacancies.no_vacancies') do
                    %i.icon-th-list
                    = t(:'site.user.vacancies.title')
            #myTabContent.tab-content
              #main-info.tab-pane.fade.active.in
                = school.description.html_safe if school.description
              #contacts.tab-pane.fade.in
                .row
                  .span4
                    - for contact in school.contacts.by_type do
                      %p
                        - unless contact.contact_type =~ /facebook|twitter|vkontakte|odnoklasniki|google|youtube|vimeo/
                          %span{ :class => "span-icon icon-#{contact.contact_type}" }
                          = contact_value contact
                  .span5
                    %p
                      - for contact in school.contacts.by_type
                        - if contact.contact_type =~ /facebook|twitter|vkontakte|odnoklasniki|google|youtube|vimeo/
                          = social_icon contact
                          &nbsp;

              #location-map.tab-pane.fade.in
                = gmaps4rails(school.location.to_gmaps4rails)

              - unless school.video_url.blank?
                #video.tab-pane.fade.in
                  = UrlToMediaTag.convert(school.video_url, :width => 480, :height => 320)

              #gallery.tab-pane.fade.in
                - if school.gallery && school.gallery.pictures.present?
                  .imageRow
                    .set
                      - for pic in school.gallery.pictures
                        .single
                          = link_to pic.src_url(:wide), :rel => 'lightbox[gallery]', :title => pic.title do
                            = image_tag pic.src_url(:medium), :width => '215px'

              #vacancies.tab-pane.fade.in
                %table.table.table-striped.table-condensed
                  %thead
                    %th
                      = t(:'site.user.vacancies.specialty')
                    %th
                      = t(:'site.user.vacancies.value')
                    %th
                      = t(:'site.user.vacancies.update_date')
                  %tbody
                  - for v in school.vacancies
                    %tr
                      %td
                        = v.specialty
                      %td
                        = v.value
                      %td
                        = time_ago_in_words(v.updated_at) + t(:'site.user.vacancies.ago')
