#school
  #show
    .row
      .span12
        .row
          .span12
            %h1= school.name
            - if admin_signed_in?
              = link_to  edit_school_path(school) do
                %i.icon-pencil
                Edit
            %legend= t(:'site.user.profiles.school.show.main_info_html')
            .row
              .span10

                = school.description.html_safe if school.description
                
              .span2
                - unless !school.director_profile
                  .show_caption
                    = image_tag school.director_profile.director_photo_url(:thumb), :class => '', :title => t(:'site.user.profiles.school.director.legend') + ": " + school.director_profile.name, :alt => t(:'site.user.profiles.school.director.legend') + ": " + school.director_profile.name
            .row
              .span6
                %legend= t(:'site.user.profiles.school.show.map_html')
                = gmaps4rails school.location.to_gmaps4rails            
              .span6
                %legend= t(:'site.user.profiles.school.show.contacts_html')
                - for contact in school.contacts.by_type do
                  %p
                    - unless contact.contact_type =~ /facebook|twitter|vkontakte|odnoklasniki|google|youtube|vimeo/
                      - if contact.contact_type == 'phone'
                        %i{ :class => "icon icon-phone" }
                      - elsif contact.contact_type == 'email'
                        %i{ :class => "icon icon-envelope-alt" }
                      - elsif contact.contact_type == 'url'
                        %i{ :class => "icon icon-globe" }
                      - elsif contact.contact_type == 'skype'
                        = image_tag 'contact-icons/skype.png'
                      = contact_value contact
                - for contact in school.contacts.by_type
                  - if contact.contact_type =~ /facebook|twitter|vkontakte|odnoklasniki|google|youtube|vimeo/
                    = social_icon contact
                    &nbsp;
            .row
              .span6
                %legend= t(:'site.user.profiles.school.show.gallery_html')  
                - if school.gallery && school.gallery.pictures.present?
                  .imageRow
                    .set
                      - for pic in school.gallery.pictures
                        .single
                          = link_to pic.src_url(:wide), :rel => 'lightbox[gallery]', :title => pic.title do
                            = image_tag pic.src_url(:medium), :width => '215px'
                - else
                  =t(:'site.user.gallery.images.no_images')
              .span6
                %legend= t(:'site.user.profiles.school.show.video_tab_html')
                - unless school.video_url.blank?
                  = UrlToMediaTag.convert(school.video_url, :width => 480, :height => 320)  
                - else
                  =t(:'site.user.profiles.school.show.video_tab_none')
            %legend= t(:'site.user.vacancies.title')
            - if school.vacancies.present?
              %table.table.table-striped.table-condensed
                %thead
                  %th
                    = t(:'site.user.vacancies.specialty')
                  %th
                    = t(:'site.user.vacancies.value')
                  %th
                    = t(:'site.user.vacancies.update_date')
                %tbody
                - for v in school.vacancies
                  %tr
                    %td
                      = v.specialty
                    %td
                      = v.value
                    %td
                      = time_ago_in_words(v.updated_at) + t(:'site.user.vacancies.ago')
            - else
              =t(:'site.user.vacancies.no_vacancies')            