%h2 School Types
%p= link_to 'Add School type', new_admin_school_type_path, :class => 'link-icon icon-add'
%hr/
%table.table.table-striped.table-bordered.table-condensed
  %thead
    %th
      id
    %th
      Name
    %th
      Actions
  %tbody
  - for school_type in school_types
    %tr
      %td
        = school_type.id
      %td
        = school_type.school_type_name
      %td
        = link_to 'Edit', edit_admin_school_type_path(school_type), :class => 'link-icon icon-delete'
        = link_to 'Delete', admin_school_type_path(school_type), :method => :delete, :confirm => 'Are you sure?', :class => 'link-icon icon-delete'
%hr/
%p= link_to 'Add School type', new_admin_school_type_path, :class => 'link-icon icon-add'