-#- set_meta_tags :title => t(:'seo.users.user_postings') + user.to_s, :description => user.profile.bio
#postings
  #index
    .row
      .span8
        %h1 Galleries
        -#.header
          .row
            .span1
              = image_tag user.profile.avatar_url(:thumb), :class => 'rounded_2'
            .span6
              %h4= link_to user, profile_path(user.profile)
              %p= user.profile.bio
              %p= t(:'visitor.profile.profile_age') + time_ago_in_words(user.created_at)

        = render galleries

