- set_meta_tags :title => posting.title + ' | ' + t(:'seo.sections.postings'), :description => posting.excerpt, :keywords => ( posting.tags.each do |tag| tag.name end )
#postings
  #show
    .row
      .span8
        %table.bookmarks
          %tr
            = render :partial => 'shared/bookmarks'
        .posting-categories
          = t(:'postings.categories')
          - posting.posting_categories.each do |c|
            - unless c === posting.posting_categories.last
              = link_to c.name + ',' , c
            - else
              = link_to c.name, c
        %h1= posting.title
        - if posting.text_posting?
          .excerpt= posting.excerpt
          - if posting.images.last.present?
            .carousel
              .carousel-inner
                %link{ :rel => "image_src", :type => "image/jpeg", :href => posting.images.last.src_url(:wide).to_s }
                = image_tag posting.images.last.src_url(:wide).to_s, :width => '620px', :height => '300px'
                .carousel-caption
                  %p
                    %b= posting.images.last.title
                    = posting.images.last.description
          - else
            %hr/

          .body
            = posting.body.html_safe
        - elsif posting.video_posting?
          = render :partial => 'postings/posting_types/video_post', :locales => {:posting => posting}
        %hr/
        .tags-list
          %span.icon-tags
          = links_to_tags posting.tags_list
        .user-bar
          = link_to posting.user, user_path(posting.user)
          |
          = l posting.created_at, :format => :long
          - if authenticated?
            - if posting.user == current_user || authorized?
              |
              = link_to edit_posting_path(posting) do
                %i.icon-pencil
                = t(:'postings.actions.edit')
              |
              = link_to posting_path(posting), :method => :delete, :confirm => 'Are you sure?' do
                %i.icon-remove
                = t(:'postings.actions.delete')





      .span4
        = render :partial => 'shared/advertising/kursor_ads'
        %hr/
        = render :partial => 'shared/widgets/widgets'



    .row
      .span8
        %hr/
        #disqus_thread
        :javascript
          //CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE
          //var disqus_developer = 1;
          var disqus_category_id = '1541317';
          var disqus_shortname = 'kursor-ua';
          var disqus_config = function () {
            this.language = "ru";
          };
          //DON'T EDIT BELOW THIS LINE
          (function() {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
          })();
        %noscript
          Пожалуйста, включите поддержку JavaScript в Вашем браузере.

      -#.span8
        %legend= t(:'postings.comments.title') + ' (' + posting.comment_threads.size.to_s + ')'

        - if posting.comment_threads.size > 0
          = render 'comments/comments', :commentable => posting
        - else
          = t(:'postings.comments.no_comments')
        - if authenticated?
          = form_for [ posting, Comment.build_from( posting, nil, '') ], :html => {:class => 'form-horizontal'} do |f|
            %fieldset
              %legend= t(:'postings.comments.leave_comment')
              .control-group
                %label.control-label
                  - unless !current_user.visitor?
                    - unless current_user.profile.nil?
                      = image_tag current_user.profile.avatar_url(:thumb).to_s
                  - unless !current_user.tutor?
                    - unless current_user.tutor.nil?
                      = image_tag current_user.tutor.avatar_url(:thumb).to_s
                  - unless !current_user.school?
                    - unless current_user.provider.nil?
                      = image_tag current_user.provider.logo_url(:thumb).to_s
                .controls
                  = f.text_area :body, :class => 'span5'
                  -#= f.text_field :parent_id, :class => 'span1'
            .form-actions
              = f.submit t(:'postings.comments.submit'), :class => 'btn btn-large btn-success'
        - else
          .alert.alert-danger
            %p
              %b= t(:'postings.comments.only_for_registered')
            %p= t(:'postings.comments.please_register_or_login').html_safe
