<!DOCTYPE html>
<html>
<head>
  <title>SameTut</title>

  <%= stylesheet_link_tag 'blueprint/screen', :media => "screen, projection" %>
  <%= stylesheet_link_tag 'blueprint/print', :media => "print" %>
  <!--[if lt IE 8]>
  <%= stylesheet_link_tag 'blueprint/ie', :media => "screen, projection" %>
  <![endif]-->


  <%= stylesheet_link_tag 'css3buttons' %>

  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="container">

  <div class="span-24">
   <h1>SameTut</h1>
  </div>


  	<div class="span-24">
  		<%= yield %>
  	</div>





</div>
</body>
</html>
