!!! 5
%html
  %head
    %title= t(:'site.logo_text')
    = stylesheet_link_tag    "application"
    = javascript_include_tag "application"
    = include_gritter
    = csrf_meta_tags


  %body{:style => "padding-top: 60px"}
    .navbar.navbar-fixed-top
      .navbar-inner
        .container
          = link_to t(:'site.logo_text'), root_path, :class => 'brand'
          .nav-collapse
            = render :partial => '/shared/top_nav'
    .container
      .content
        = render 'shared/flash_messages'
        = yield

        .row
          .span12
            .footer
              %hr/
              %p
                SameTut - All rights Reserved &copy; 2011. Powered by Aleksandr Ponomarenko.
                - if current_admin
                  = link_to 'Admin Panel', admin_path
                  = link_to 'Log Out', destroy_admin_session_path
                - else
                  = link_to 'Admin Login', new_admin_session_path