!!!
/[if lt IE 7] <html lang="en" class="no-js ie6">
/[if IE 7 ]    <html lang="en" class="no-js ie7">
/[if IE 8 ]    <html lang="en" class="no-js ie8">
/[if IE 9 ]    <html lang="en" class="no-js ie9">
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="en" class="no-js"> <!--<![endif]-->
%head
  %meta{:charset => "utf-8"}/
  /
    Always force latest IE rendering engine (even in intranet) &amp; Chrome Frame
  %meta{"http-equiv"=>"X-UA-Compatible", :content=>"IE=edge,chrome=1"}
  %title= t(:'site.logo_text')
  %meta{:content => "", :name => "description"}/
  %meta{:content => "", :name => "author"}/
  / Mobile viewport optimized: j.mp/bplateviewport
  %meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0, maximum-scale=1.0"}
  / Place favicon.ico and apple-touch-icon.png in the root of your domain and delete these references
  %link{:href => "/favicon.ico", :rel => "shortcut icon"}/
  %link{:href => "/apple-touch-icon.png", :rel => "apple-touch-icon"}/
  = include_gon
  %link{ :href => "http://fonts.googleapis.com/css?family=Open+Sans&subset=latin,cyrillic-ext", :rel => "stylesheet", :type => "text/css"}/
  %script{:src => "http://maps.googleapis.com/maps/api/js?libraries=places&sensor=false&language=uk", :type => "text/javascript"}

  = stylesheet_link_tag "application"
  = javascript_include_tag "application"
  /[if IE]
    %script{ :src => "http://html5shiv.googlecode.com/svn/trunk/html5.js" }

  = csrf_meta_tags
  = render :partial => 'shared/google_analytics_code'

%body
  .grid-bg
    .container
      %header
        .row
          .span5
            .logo
              = link_to root_path do
                = image_tag 'logo.png'
          .span7
            .main-nav
              %ul.nav.nav-pills
                %li
                  = link_to t(:'site.nav.back_to_site'), root_path
                - unless user_signed_in?
                  %li
                    = link_to t(:'site.nav.new_user'), new_user_registration_path
                  %li
                    = link_to t(:'site.user.devise.links.sign_in'), new_user_session_path
      .content
        .row{:style => 'margin-bottom: 20px;'}
          .span12
            - if user_signed_in?
              = render :partial => '/shared/top_nav'

        = render 'shared/flash_messages'
        = yield

        .row
          .span12
            .footer
              %hr/
              %p
                = t(:'site.copyright_html').html_safe
                - if current_admin
                  = link_to 'Admin Panel', admin_path
                  \|
                  = link_to 'Log Out', destroy_admin_session_path
                - else
                  = link_to '[+]', new_admin_session_path
                %br/
                = t(:'site.ministry_of_education_html')

  
  = yield :scripts
