= form_for resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put, :class => 'form-horizontal' } do |f|
  = devise_error_messages!

  .row
    .span6
      %fieldset
        %legend= t(:'site.user.devise.edit.title')
        .control-group
          = f.label :email, :class => 'label-control'
          .controls
            = f.email_field :email

        .control-group
          = f.label t(:'site.user.devise.edit.new_pass'), :class => 'label-control'
          .controls
            = f.password_field :password
            %p.help-block=t(:'site.user.devise.edit.leave_blank')
        .control-group
          = f.label t(:'site.user.devise.edit.new_pass_confirm')
          .controls
            = f.password_field :password_confirmation, :class => 'label-control'

        .control-group
          = f.label t(:'site.user.devise.edit.current_pass'), :class => 'label-control'
          .controls
            = f.password_field :current_password
            %p.help-block=t(:'site.user.devise.edit.current_pass_help')



    .span6
      %fieldset
        %legend= t(:'site.user.devise.cancel_account.title')
        .control-group
          %p
            = t(:'site.user.devise.cancel_account.unhappy')
            = link_to t(:'site.user.devise.cancel_account.cancel_my_account'), registration_path(resource_name), :confirm => "Are you sure?", :method => :delete

  .row
    .span12
      .form-actions
        = f.submit t(:'site.user.devise.edit.update'), :class => 'btn btn-large btn-primary'