%h1 Sign up

= form_for resource, :html => { :class => 'form-horizontal' }, :as => resource_name, :url => registration_path(resource_name) do |f|
  = devise_error_messages!
  .row
    .span7
      %legend Email / Password
      %fieldset
        .control-group
          = f.label :email
          .controls
            = f.email_field :email
        .control-group
          = f.label :password
          .controls
            = f.password_field :password
        .control-group
          = f.label :password_confirmation
          .controls
            = f.password_field :password_confirmation
      %legend Register As
      %fieldset
        .control-group
          = f.label :user_type
          .controls
            = f.select :user_type_id, UserType.all.collect {|t| [ t.user_type_name, t.id ] }, {:prompt => '-- select --'}, :class => 'span4'

    .span5
      %legend Tools
      = render "links"

  .form-actions
    = f.submit "Sign up"

