= form_for resource, :html => { :class => 'form-horizontal' }, :as => resource_name, :url => registration_path(resource_name) do |f|
  = devise_error_messages!
  .row
    .span7
      %legend= t(:'site.user.new.headers.new_user')
      %fieldset
        .control-group
          = f.label :email, :class => 'control-label'
          .controls
            = f.email_field :email
        .control-group
          = f.label :password, :class => 'control-label'
          .controls
            = f.password_field :password
        .control-group
          = f.label :password_confirmation, :class => 'control-label'
          .controls
            = f.password_field :password_confirmation
        .control-group
          = f.label :user_type_id, :class => 'control-label'
          .controls
            - UserType.all.each do |select_type|
              %label.radio
                = f.radio_button :user_type_id, select_type.id
                = select_type.user_type_name






    .span5
      %legend= t(:'site.user.devise.tools')
      = render "users/links"

  .form-actions
    = f.submit t(:'site.user.devise.actions.sign_up'), :class => 'btn-success btn-large'

